openapi: 3.1.0
info:
  title: API Developers Operator Gateway - Read-only Core
  version: 0.1.0
  description: >
    Wave 1 L0 contracts for operatorStatus, operatorInventory, operatorRead and
    operatorAudit. All operations are authenticated, tenant-bound, audited,
    deny-by-default and incapable of returning file content, database rows,
    arbitrary values, credentials or secrets.
servers:
  - url: https://operator.apidevelopers.digital
    description: Planned institutional gateway; not deployed by this change.
paths:
  /v1/operator/status:
    post:
      operationId: operatorStatus
      summary: Read sanitized status metadata
      security:
        - ApiKeyAuth: []
      x-required-scope: operator:status:read
      x-risk-level: L0
      x-production-write: false
      x-content-access: forbidden
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionRequest"
      responses:
        "200":
          description: Sanitized status metadata
        "401":
          description: Authentication rejected
        "403":
          description: Scope or tenant rejected
        "503":
          description: Adapter or audit unavailable
  /v1/operator/inventory:
    post:
      operationId: operatorInventory
      summary: Read sanitized resource inventory
      security:
        - ApiKeyAuth: []
      x-required-scope: operator:inventory:read
      x-risk-level: L0
      x-production-write: false
      x-content-access: forbidden
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionRequest"
      responses:
        "200":
          description: Sanitized resource descriptors
        "401":
          description: Authentication rejected
        "403":
          description: Scope or tenant rejected
        "503":
          description: Adapter or audit unavailable
  /v1/operator/read:
    post:
      operationId: operatorRead
      summary: Read an allowlisted primitive projection of one resource
      security:
        - ApiKeyAuth: []
      x-required-scope: operator:resource:read
      x-risk-level: L0
      x-production-write: false
      x-content-access: forbidden
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadRequest"
      responses:
        "200":
          description: Allowlisted primitive projection
        "401":
          description: Authentication rejected
        "403":
          description: Scope, field or tenant rejected
        "503":
          description: Adapter or audit unavailable
  /v1/operator/audit:
    post:
      operationId: operatorAudit
      summary: Read sanitized audit event envelopes
      security:
        - ApiKeyAuth: []
      x-required-scope: operator:audit:read
      x-risk-level: L0
      x-production-write: false
      x-content-access: forbidden
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuditRequest"
      responses:
        "200":
          description: Sanitized audit event envelopes without metadata or payload
        "401":
          description: Authentication rejected
        "403":
          description: Scope or tenant rejected
        "503":
          description: Adapter or audit unavailable
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    Target:
      type: object
      additionalProperties: false
      required: [provider, resourceType]
      properties:
        provider:
          type: string
          minLength: 1
          maxLength: 128
        resourceType:
          type: string
          minLength: 1
          maxLength: 128
        resourceId:
          type: string
          minLength: 1
          maxLength: 128
    CollectionRequest:
      type: object
      additionalProperties: false
      required: [correlationId, target]
      properties:
        correlationId:
          type: string
          minLength: 3
          maxLength: 128
        target:
          $ref: "#/components/schemas/Target"
        limit:
          type: integer
          minimum: 1
          maximum: 200
        cursor:
          type: string
          maxLength: 128
    ReadRequest:
      type: object
      additionalProperties: false
      required: [correlationId, target, fields]
      properties:
        correlationId:
          type: string
          minLength: 3
          maxLength: 128
        target:
          allOf:
            - $ref: "#/components/schemas/Target"
            - type: object
              required: [resourceId]
        fields:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
              - id
              - kind
              - name
              - status
              - version
              - updatedAt
              - owner
              - region
              - environment
              - repository
              - branch
    AuditRequest:
      allOf:
        - $ref: "#/components/schemas/CollectionRequest"
        - type: object
          properties:
            outcome:
              type: string
              enum: [success, failure, denied, blocked]
