openapi: 3.1.0
info:
  title: API Developers Operator Gateway - Read-only HTTP
  version: 0.3.1
  description: L0 authenticated, tenant-bound, rate-limited and audited routes. No content, rows, arbitrary values, credentials or secrets.
servers:
  - url: https://operator.apidevelopers.digital
    description: Planned gateway; not deployed by this change.
x-readonly-security: &readonlySecurity
  - ApiKeyAuth: []
  - BearerAuth: []
x-standard-responses: &standardResponses
  '200': {$ref: '#/components/responses/Success'}
  '400': {$ref: '#/components/responses/Error'}
  '401': {$ref: '#/components/responses/Error'}
  '403': {$ref: '#/components/responses/Error'}
  '405': {$ref: '#/components/responses/Error'}
  '413': {$ref: '#/components/responses/Error'}
  '429': {$ref: '#/components/responses/RateLimited'}
  '502': {$ref: '#/components/responses/Error'}
  '503': {$ref: '#/components/responses/Error'}
paths:
  /v1/operator/status:
    post:
      operationId: operatorStatus
      security: *readonlySecurity
      x-required-scope: operator:status:read
      x-risk-level: L0
      x-production-write: false
      x-max-body-bytes: 65536
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CollectionRequest'}
      responses: *standardResponses
  /v1/operator/inventory:
    post:
      operationId: operatorInventory
      security: *readonlySecurity
      x-required-scope: operator:inventory:read
      x-risk-level: L0
      x-production-write: false
      x-max-body-bytes: 65536
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CollectionRequest'}
      responses: *standardResponses
  /v1/operator/read:
    post:
      operationId: operatorRead
      security: *readonlySecurity
      x-required-scope: operator:resource:read
      x-risk-level: L0
      x-production-write: false
      x-max-body-bytes: 65536
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ReadRequest'}
      responses: *standardResponses
  /v1/operator/audit:
    post:
      operationId: operatorAudit
      security: *readonlySecurity
      x-required-scope: operator:audit:read
      x-risk-level: L0
      x-production-write: false
      x-max-body-bytes: 65536
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuditRequest'}
      responses: *standardResponses
components:
  securitySchemes:
    ApiKeyAuth: {type: apiKey, in: header, name: x-api-key}
    BearerAuth: {type: http, scheme: bearer}
  responses:
    Success:
      description: Sanitized read-only response.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/SuccessEnvelope'}
    Error:
      description: Sanitized error response.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorEnvelope'}
    RateLimited:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema: {type: string}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorEnvelope'}
  schemas:
    Target:
      type: object
      additionalProperties: false
      required: [provider, resourceType]
      properties:
        provider: {type: string, minLength: 1, maxLength: 128}
        resourceType: {type: string, minLength: 1, maxLength: 128}
        resourceId: {type: string, minLength: 1, maxLength: 128}
    CollectionRequest:
      type: object
      additionalProperties: false
      required: [correlationId, target]
      properties:
        correlationId: {type: string, minLength: 3, maxLength: 128}
        target: {$ref: '#/components/schemas/Target'}
        limit: {type: integer, minimum: 1, maximum: 200}
        cursor: {type: string, maxLength: 128}
    ReadRequest:
      type: object
      additionalProperties: false
      required: [correlationId, target, fields]
      properties:
        correlationId: {type: string, minLength: 3, maxLength: 128}
        target:
          allOf:
            - {$ref: '#/components/schemas/Target'}
            - {type: object, required: [resourceId]}
        fields:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [id, kind, name, status, version, updatedAt, owner, region, environment, repository, branch]
    AuditRequest:
      allOf:
        - {$ref: '#/components/schemas/CollectionRequest'}
        - type: object
          properties:
            outcome: {type: string, enum: [success, failure, denied, blocked]}
    SuccessEnvelope:
      type: object
      additionalProperties: true
      required: [operationId, correlationId, productionChanged, contentReturned, rowsReturned, valuesReturned, authorizationDecision]
      properties:
        operationId: {type: string, enum: [operatorStatus, operatorInventory, operatorRead, operatorAudit]}
        correlationId: {type: string}
        productionChanged: {type: boolean, const: false}
        contentReturned: {type: boolean, const: false}
        rowsReturned: {type: boolean, const: false}
        valuesReturned: {type: boolean, const: false}
        authorizationDecision: {type: object}
    ErrorEnvelope:
      type: object
      additionalProperties: true
      required: [error, productionChanged, contentReturned, rowsReturned, valuesReturned]
      properties:
        error: {type: string}
        correlationId: {type: string}
        productionChanged: {type: boolean, const: false}
        contentReturned: {type: boolean, const: false}
        rowsReturned: {type: boolean, const: false}
        valuesReturned: {type: boolean, const: false}
